<div class="container">
    <a href="/">
        <img
          class="background"
          src="./images/kucing.jpeg"
          alt="logo header"
        />
    <h1>Welcome to the Home Page!</h1>
    <p>Selatam datang </p>
    <a href="/contact" class="btn btn-primary">Go to Contact Page</a>
</div>

