<div class="login-container">
    <div class="login-card"><img src="./images/logo1.jpg" alt="Logo" class="logo">
        
        <h1>Sign In</h1>
        <p>SELAMAT DATANG</p>
        <form action="/login" method="POST">
            <div class="form-group">
                <input type="text" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn">Sign in</button>
        </form>
        <p class="helper-text">Forgot your password? <a href="/signup">Click here</a></p>
    </div>
</div>